*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #13162D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  padding-top: 30px;
}
.game__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 850px;
  gap: 2px;
}
/* 
.game__item {
  padding: 11px;
  width: 10%;
}  */
.danger {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
  /* background: linear-gradient(to right, #1F1C18, #8E0E00); */
  background: linear-gradient(to right, #b24592, #f15f79);
  /* background: linear-gradient(to right, #2980b9, #2c3e50); */

}
.game__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.game__btn {
  border: none;
  border-radius: 12px;
  background-color: #F8F6D8;
  cursor: pointer;
}


.removing {
  opacity: 0;
}

.timer-box {
  padding: 0 10px;
}

.level {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 3px #fff;
  width: 35px;
  height: 35px;
  font-size: 22px;
  border-radius: 50%;
  background-color: #6230B9;
  color: #fff;
  margin-right: 265px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid indigo;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 4px 4px #fff;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid indigo;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 4px 4px #fff;
}
.title {
  color: #fff;
  margin: 0;
  margin-right: 15px;
}